@inject ISessionStorageGenericService<VolumesDim> SessionStorageService

@if (showWait)
{
    <RadzenText TextStyle="TextStyle.DisplayH3" TextAlign="TextAlign.Center" class="rz-color-base-400">Загрузка...</RadzenText>
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}
else
{
    <RadzenStack Orientation="Orientation.Vertical">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" JustifyContent="JustifyContent.SpaceBetween">
            <RadzenText TextStyle="TextStyle.H5" Style="margin-top: 5px;" Text="Объемы и размеры порций"></RadzenText>
            <RadzenButton Click="DialogOnClose" ButtonStyle="ButtonStyle.Dark" Variant="Variant.Text" Icon="close"></RadzenButton>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenDataGrid TItem="VolumesDim"
            Data=@VolumesDims @ref="VolumeDG" SelectionMode="DataGridSelectionMode.Single" @bind-Value="@SelectedVolume"
            PageSize="20" AllowColumnResize="true" AllowPaging="true" EditMode="DataGridEditMode.Single"
            RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow"
            Style="--rz-grid-header-font-weight: bold;  width: contain; min-width: 400px;">
                <HeaderTemplate>
                    <RadzenButton ButtonStyle="ButtonStyle.Dark" Variant="Variant.Outlined" Icon="add" Click="@AddNewVolume" Disabled="@(EditMode)"
                    MouseEnter="@(args => tooltipService.Open(args, $"Добавить новый объем",
                              new TooltipOptions(){ Position = TooltipPosition.Right, Delay = 500, Duration = 5000, Style = "background: var(--rz-base-300); color: var(--rz-text-color)" }) )"
                    MouseLeave="@(args => tooltipService.Close())" />

                    <RadzenSwitch @bind-Value=@CascadingDelete Change=@(args => OnCascadingDeleteChange(args)) 
                    InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Switch value" }})"
                    Style="--rz-switch-checked-background-color: #F19C98;
                                 --rz-switch-checked-circle-background-color: #ff4d4d;
                                 --rz-switch-unchecked-background-color: #ffcccc;
                                 --rz-switch-unchecked-circle-background-color: #ffffff;
                                 margin-left: 10px;"
                    MouseEnter="@(args => tooltipService.Open(args, $"Удаление объема вместе с тех. картами",
                              new TooltipOptions(){ Position = TooltipPosition.Right, Delay = 500, Duration = 5000, Style = "background: var(--rz-danger-light); color: var(--rz-text-contrast-color)" }) )"
                    MouseLeave="@(args => tooltipService.Close())" />
                </HeaderTemplate>
                <EmptyTemplate>
                    <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">упс.. У вас нет категорий</p>
                </EmptyTemplate>
                <Columns>
                    <RadzenDataGridColumn Title="Название категории" TItem="VolumesDim" Property="@nameof(VolumesDim.Volume)" MinWidth="100px" Width="140px">
                        <EditTemplate Context="item">
                            <RadzenTextBox Style="width: 100%; min-width: 135px;" @bind-Value="item.Volume"></RadzenTextBox>
                        </EditTemplate>
                        <Template Context="item">
                            <RadzenText style="white-space:pre-wrap">@item.Volume</RadzenText>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn Title="Краткое описание" TItem="VolumesDim" Property="@nameof(VolumesDim.Description)" MinWidth="150px" Width="200px">
                        <EditTemplate Context="item">
                            <RadzenTextBox Style="width: 100%; min-width:190px;" @bind-Value="item.Description"></RadzenTextBox>
                        </EditTemplate>
                        <Template Context="item">
                            <RadzenText TextStyle="TextStyle.Caption" style="white-space:pre-wrap">@item.Description</RadzenText>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="VolumesDim" TextAlign="TextAlign.Center" MinWidth="40px" Width="50px">
                        <Template Context="item">
                            <RadzenButton Visible="item.Id != 0" Icon="edit" ButtonStyle="ButtonStyle.Dark" Variant="Variant.Text" Click="@(args => EditVolume(item))"
                            MouseEnter="@(args => tooltipService.Open(args, $"Редактировать {item.Volume}",
                                    new TooltipOptions(){ Position = TooltipPosition.Left, Delay = 500, Duration = 5000, Style = "background: var(--rz-base-300); color: var(--rz-text-color)" }) )"
                            MouseLeave="@(args => tooltipService.Close())" />
                            <RadzenButton Visible="item.Id != 0"
                            Icon="delete"
                            ButtonStyle="ButtonStyle.Danger"
                            Variant="Variant.Text"
                            Click="@(args => DeleteVolume(item))"
                            Class="button-hover"
                            MouseEnter="@(args => OnMouseDeleteEnter(args, item.Volume!))"
                            MouseLeave="@(args => OnMouseDeleteEnter(args))" />
                        </Template>
                        <EditTemplate Context="item">
                            <RadzenButton Icon="save" ButtonStyle="ButtonStyle.Dark" Variant="Variant.Text" Click="@(args => SaveChangesCategory(item))"
                            MouseEnter="@(args => tooltipService.Open(args, $"Сохранить {item.Volume}",
                          new TooltipOptions(){ Position = TooltipPosition.Left, Delay = 500, Duration = 5000, Style = "background: var(--rz-base-300); color: var(--rz-text-color)" }) )"
                            MouseLeave="@(args => tooltipService.Close())" />

                            <RadzenButton Icon="cancel" ButtonStyle="ButtonStyle.Dark" Variant="Variant.Text" Click="@(args => CancelEdit(item))"
                            MouseEnter="@(args => tooltipService.Open(args, $"Оттменить изменения {item.Volume}",
                          new TooltipOptions(){ Position = TooltipPosition.Left, Delay = 500, Duration = 5000, Style = "background: var(--rz-base-300); color: var(--rz-text-color)" }) )"
                            MouseLeave="@(args => tooltipService.Close())" />
                        </EditTemplate>
                    </RadzenDataGridColumn>

                </Columns>

            </RadzenDataGrid>
            <RadzenCard>
                @if (SelectedVolume is not null)
                {
                    <RadzenDataGrid Data="@(SelectedVolume!.Count != 0 ?  SelectedVolume.First().Ttks : new List<Ttk>())" TItem="Ttk"
                    Style="--rz-grid-header-font-weight: bold;  width: contain; min-width: 250px;" Density="Density.Compact">
                        <EmptyTemplate>
                            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">У выбранного объема нет тех. карт</p>
                        </EmptyTemplate>
                        <Columns>
                            <RadzenDataGridColumn Title="Название" TItem="Ttk" Property="@nameof(Ttk.Name)" TextAlign="TextAlign.Center"></RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Категория" TItem="Ttk" Property="Category.Category" TextAlign="TextAlign.Center"></RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                }
            </RadzenCard>
        </RadzenStack>
    </RadzenStack>
}


@code 
{
    private bool showWait = true;

    [Parameter]
    public List<CategoriesDim>? CategoriesDims { get; set; }

    [Parameter]
    public List<VolumesDim>? VolumesDims { get; set; }
    private RadzenDataGrid<VolumesDim> VolumeDG { get; set; } = new();
    private IList<VolumesDim> SelectedVolume { get; set; } = new List<VolumesDim>();

    private RadzenDataGrid<Ttk> TtkDg { get; set; } = new();

    private VolumesDim? ItemToInsert { get; set; }
    private VolumesDim? ItemToUpdate { get; set; }
    private VolumesDim? DeepCopyUpdateitem { get; set; }

    private bool EditMode { get; set; } = false;

    private bool CascadingDelete { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await SessionStorageService.DeleteItemFromSessionStorage(jsRuntime, ItemToUpdate);
        await SessionStorageService.DeleteItemFromSessionStorage(jsRuntime, ItemToInsert);
        await GetVolumesTtks();
        showWait = false;
    }

    private async Task GetVolumesTtks()
    {
        if (VolumesDims is not null)
        {
            SelectedVolume.Add(VolumesDims.First());
            foreach (var item in VolumesDims)
            {
                item.Ttks = (await TtkService.GetTtkItemsByVolumeId(item.Id)).ToList();
            }
        }
    }

    private async Task OnCreateRow(VolumesDim updateVolume)
    {
        EditMode = true;
        tooltipService.Close();
        ItemToInsert = updateVolume;
        await VolumeDG.EditRow(updateVolume);
    }
    private async Task OnUpdateRow(VolumesDim newVolume)
    {
        EditMode = false;
        tooltipService.Close();
        ItemToInsert = null!;
        ItemToUpdate = null!;
        if (ItemToUpdate is not null)
        {
            var result = await VolumesDimService.UpdateAsync(ItemToUpdate);
            if (result is not null)
            {
                await VolumeDG.UpdateRow(result);
            }
            ItemToUpdate = null!;
        }
    }

    private async Task AddNewVolume()
    {
        tooltipService.Close();
        EditMode = true;
        ItemToInsert = new();
        await VolumeDG.InsertRow(ItemToInsert);
    }
    private async Task EditVolume(VolumesDim VolumeforUpdate)
    {
        EditMode = true;
        tooltipService.Close();
        await SessionStorageService.SetNewItemInSessionStorage(jsRuntime, VolumeforUpdate);
        DeepCopyUpdateitem = await SessionStorageService.CreateDeepCopy(jsRuntime, VolumeforUpdate);
        ItemToUpdate = VolumeforUpdate;
        await VolumeDG.EditRow(VolumeforUpdate);

    }
    private void CancelEdit(VolumesDim item)
    {
        EditMode = false;
        tooltipService.Close();
        ItemToInsert = null!;
        ItemToUpdate = null!;
        if (DeepCopyUpdateitem is not null)
        {
            item.Id = DeepCopyUpdateitem.Id;
            item.Volume = DeepCopyUpdateitem.Volume;
            item.Description = DeepCopyUpdateitem.Description;
            item.Ttks = DeepCopyUpdateitem.Ttks;
            VolumeDG.CancelEditRow(item);
        }
        else
        {
            VolumeDG.CancelEditRow(item);
        }
    }
    private async Task SaveChangesCategory(VolumesDim changedVolume)
    {
        EditMode = false;
        tooltipService.Close();
        if (ItemToInsert is not null)
        {
            var result = await VolumesDimService.AddAsync(changedVolume);
            if (result is not null)
            {
                VolumesDims?.Add(result);
            }
            ItemToInsert = null!;
        }
        if (ItemToUpdate is not null)
        {
            var result = await VolumesDimService.UpdateAsync(ItemToUpdate);
            if (result is not null)
            {
                await VolumeDG.UpdateRow(result);
                VolumeDG.CancelEditRow(changedVolume);
            }
            ItemToUpdate = null!;
        }

        await VolumeDG.Reload();
    }

    private async Task DeleteVolume(VolumesDim VolumeForDelete)
    {
        tooltipService.Close();

        // проверка есть ли у категории объекты
        if (VolumeForDelete.Ttks.Count() != 0)
        {
            if (CascadingDelete)
            {
                var dialogResult = await dialogService.OpenAsync("", ds =>
    @<RadzenStack Orientation="Orientation.Vertical" Gap="1.5rem">
        <RadzenText TextStyle="TextStyle.DisplayH5" class="rz-color-danger-dark rz-text-wrap" Text="Удалить объем вместе с тех. картами?"></RadzenText>
        <RadzenText Text="При удалении объема также будут удалены технические карты и вся связанная информация."
                    TextStyle="TextStyle.DisplayH6" class="rz-color-danger-dark rz-text-wrap"></RadzenText>
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
            <RadzenButton Icon="close" Text="Отмена" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Dark" Variant="Variant.Outlined" />
            <RadzenButton Icon="delete_forever" Text="Удалить" Click="() => ds.Close(true)" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Outlined" />
        </RadzenStack>
    </RadzenStack>, new DialogOptions() { Style = "width: 600px;", Resizable = false, Draggable = true, ShowClose = false });
                if (dialogResult == true)
                {
                    var result = await VolumesDimService.DeleteAsync(VolumeForDelete.Id);
                    if (result)
                    {
                        VolumesDims?.Remove(VolumeForDelete);
                        await VolumeDG.Reload();
                    }
                }
            }
            else
            {
                var dialogResult = await dialogService.OpenAsync("", ds =>
    @<RadzenStack Orientation="Orientation.Vertical" Gap="1.5rem">
        <RadzenText TextStyle="TextStyle.DisplayH5" class="rz-color-danger-dark rz-text-wrap" Text="Удалить объем?"></RadzenText>
        <RadzenText Text="Объем будет удален. Тех. картам будет присвое базовый объем"
                    TextStyle="TextStyle.DisplayH6" class="rz-color-danger-dark rz-text-wrap"></RadzenText>
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
            <RadzenButton Icon="close" Text="Отмена" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Dark" Variant="Variant.Outlined" />
            <RadzenButton Icon="delete_forever" Text="Удалить" Click="() => ds.Close(true)" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Outlined" />
        </RadzenStack>
    </RadzenStack>
    , new DialogOptions() { Style = "width: 600px;", Resizable = false, Draggable = true, ShowClose = false });

                if (dialogResult == true)
                {
                    foreach (var item in VolumeForDelete.Ttks)
                    {
                        item.VolumeId = 0; // назвачение базовой категории всем объектам этой категории
                        item.Volume = null;
                        item.Category = null;
                        var testItem = await TtkService.UpdateAsync(item);
                        testItem.Category = CategoriesDims?.Where(x => x.Id == item.CategoryId).First();
                        VolumesDims?.Where(x => x.Id == 0).First().Ttks.Add(testItem);
                    }
                    VolumeForDelete.Ttks = null!;
                    var result = await VolumesDimService.DeleteAsync(VolumeForDelete.Id);
                    if (result)
                    {
                        VolumesDims?.Remove(VolumeForDelete);
                        await VolumeDG.Reload();
                    }
                }
            }
        }
        else
        {
            var result = await VolumesDimService.DeleteAsync(VolumeForDelete.Id);
            if (result)
            {
                VolumesDims?.Remove(VolumeForDelete);
                await VolumeDG.Reload();
            }
        }


    }


    private void OnMouseDeleteEnter(ElementReference args, string volume)
    {
        tooltipService.Open(args, $"Удалить {volume}",
            new TooltipOptions()
                {
                    Position = TooltipPosition.Left,
                    Delay = 500,
                    Duration = 5000,
                    Style = "background: var(--rz-base-300); color: var(--rz-text-color)"
                });
        //buttonForDeleteStyle = ButtonStyle.Danger;
    }

    private void OnMouseDeleteEnter(ElementReference args)
    {
        tooltipService.Close();
        //buttonForDeleteStyle = ButtonStyle.Dark;
    }

    private void OnCascadingDeleteChange(bool? value)
    {
    }
    private void DialogOnClose()
    {
        dialogService.Close(VolumesDims);
    }
}
